[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-jenkins = "==1.4.0"
django = "==2.1.7"
djangorestframework = "==3.9.2"
django-cors-headers = "==2.5.2"
mysqlclient = "==1.4.2"
requests = "==2.21.0"
uwsgi = "==2.0.17"
djangorestframework-jwt = "==1.11.0"

[requires]
python_version = "3.7"
